@model Don_SampleTrackingApp.ProbaModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProbaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataPrelevare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataPrelevare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiglaFurnizor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiglaFurnizor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sarja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sarja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diametru)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diametru)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calitate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calitate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumarCuptor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarCuptor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipTratamentTermic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipTratamentTermic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipCapBara)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipCapBara)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipproba)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipproba)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObservatiiOperator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObservatiiOperator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataPreluare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataPreluare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataRaspunsCalitate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataRaspunsCalitate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeUtilizatorCalitate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeUtilizatorCalitate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RezultatProba)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RezultatProba)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KV1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KV1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KV2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KV2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KV3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KV3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DuritateHB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuritateHB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObservatiiCalitate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObservatiiCalitate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProbaModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
